<!-- Footer -->
<footer id="sticky-footer" class="py-4  text-white" style="background-color: #18400F">

    <div class="container text-center">
        <small>Copyright &copy; Your Website</small>
    </div>
    <div class="text-center p-2">
        <a href="#"><i id="social-fb" class="fa fa-facebook fa-2x social mr-3" style="color: #78F683;"></i></a>
        <a href="#"><i id="social-tw" class="fa fa-twitter fa-2x social mr-3" style="color: #78F683;"></i></a>
        <a href="#"><i id="social-ig" class="fa fa-instagram fa-2x social mr-3" style="color: #78F683;"></i></a>
        <a href="#"><i id="social-em" class="fa fa-envelope fa-2x social mr-3" style="color: #78F683;"></i></a>
    </div>
</footer>