<div class="wrapper">
    <div class="text-center">
        <img src="../../assets/titulo1.png">
    </div>
    <h1 class="text-center">¿QUIENES SOMOS?</h1>
    <article>
        <div class="container">
            <p>
                Somos Sergio y Adrián, dos personas totalmente independientes a los nos une la misma pasión, el mundo de
                la
                tecnología y programación, commpaginado con los animales.

                Adoptadog.es es el proyecto que llevamos varios años en la mente con los objetivos muy claros: por un
                lado,
                ayudar a esas personas indecisas que necesitan buscar un animal de compañía de la forma mas rápida
                posible;
                otro lado, a las protectoras, que a dia de hoy están cada vez más llenas de animales desprotegidos,
                abandonados o maltratados. Y por último, por supuesto a que los perros encuentren una familia cuanto
                antes.
            </p>
        </div>
    </article>
    <div class="container" id="contacto">
        <h2 class="text-center">CONTACTA CON NOSOTROS</h2>
        <form [formGroup]="contacto" (ngSubmit)="onSubmit()">
            <div _ngcontent class="form-group input-group">
                <div _ngcontent-c5 class="offset-md-1 offset-x1-2 col-md-4 col-x1-3 text-center control-label">
                    <label _ngcontent-c5>Nombre</label>
                </div>
                <div _ngcontent-c5 class="col-md-4 col-x1-4 inputGroupContainer">
                    <input _ngcontent-c5="" class="form-control ng-untouched ng-pristine ng-invalid"
                        formcontrolname="nombre" placeholder="Nombre" required="" type="text">
                </div>
            </div>
            <div _ngcontent class="form-group input-group">
                <div _ngcontent-c5 class="offset-md-1 offset-x1-2 col-md-4 col-x1-3 text-center control-label">
                    <label _ngcontent-c5>Apellidos</label>
                </div>
                <div _ngcontent-c5 class="col-md-4 col-x1-4 inputGroupContainer">
                    <input _ngcontent-c5="" class="form-control ng-untouched ng-pristine ng-invalid"
                        formcontrolname="apellidos" placeholder="Apellidos" required="" type="text">
                </div>
            </div>
            <div _ngcontent class="form-group input-group">
                <div _ngcontent-c5 class="offset-md-1 offset-x1-2 col-md-4 col-x1-3 text-center control-label">
                    <label _ngcontent-c5>Email</label>
                </div>
                <div _ngcontent-c5 class="col-md-4 col-x1-4 inputGroupContainer">
                    <input _ngcontent-c5="" class="form-control ng-untouched ng-pristine ng-invalid"
                        formcontrolname="email" placeholder="Email" required="" type="text">
                </div>
            </div>
            <div _ngcontent class="form-group input-group">
                <div _ngcontent-c5 class="offset-md-1 offset-x1-2 col-md-4 col-x1-3 text-center control-label">
                    <label _ngcontent-c5>Texto</label>
                </div>
                <div _ngcontent-c5 class="col-md-4 col-x1-4 green-border-focus">
                    <textarea class="form-control" id="exampleFormControlTextarea5" rows="10"
                        placeholder="Escribe tu consulta"></textarea>
                </div>
            </div>
            <div id="btn" class="col-2-md-2">
                <input type="submit" value="Enviar" class="btn btn-success btn-block">
            </div>
        </form>
    </div>

</div>