<div class="wrapper">
    <div class="text-center">
        <img src="../../assets/titulo1.png">
    </div>
    <h1 class="text-center">QUIENES SOMOS</h1>
    <article>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias accusantium esse culpa iure laboriosam
            ipsa, eligendi quas vel illum, a, ea veniam ratione sed quo magnam natus cupiditate laborum nesciunt?
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui provident nobis porro debitis omnis repellat
            ea culpa sed illum dolores molestiae numquam ab eum voluptas unde, enim voluptates ipsam veritatis.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis eos eaque eveniet voluptatem modi saepe
            maxime totam molestiae. Nam temporibus incidunt dignissimos minus voluptate odio ipsa animi ex praesentium
            aspernatur!
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores minus possimus architecto at cum fugit aut
            placeat incidunt, eos sapiente voluptates? Illum, quo commodi voluptatem ut praesentium quos voluptatum!
            Rerum!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut fuga architecto voluptatum laborum odio tenetur
            quos quisquam reiciendis impedit ad, ex itaque. Amet expedita omnis et commodi voluptatibus voluptate
            assumenda?
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla, magni rerum blanditiis, unde iste pariatur
            saepe provident laborum, odio dolores natus! Saepe dolore cupiditate officia distinctio animi, corrupti
            itaque asperiores.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam qui possimus ipsum id aperiam, voluptas
            impedit quisquam, sunt aliquid laboriosam minus quos est repellendus accusantium eius facere repellat.
            Asperiores, perferendis.
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus commodi necessitatibus perferendis
            quas culpa dignissimos facere, aliquam expedita veniam magnam alias? Deserunt asperiores nulla dolor dolorum
            reprehenderit ut corporis amet.
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet non laboriosam esse? At dolores, officiis
            voluptates quo sit reiciendis quidem, ea exercitationem facilis sunt maiores dicta sed? Nihil, sint sed!
        </p>
    </article>

</div>