nav{
    font-size: 20px;
    height: 70px;
    font-weight: bold;
    
}

nav .navbar-brand {
    font-size: 30px;
}

.footer{
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;

}
div ul li{
    margin-left: 50px;

}

div ul li a{
    cursor: pointer;
}
#img{
    font-size: 80px;
    color:black;
    margin-top: 10px;
}
.modal-footer a{
    display: inline-block;
    color: black;
}