<nav class="navbar navbar-expand-lg navbar navbar-light sticky-top" style="background-color: #B7E2D5;">
    <i class="fa fa-paw fa-lg"></i>
    <a id="titulo" class="navbar-brand" [routerLink]="['/principal']">ADOPTADOG.es</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/buscador']">Buscador</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/mapa']">Mapa</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/quienessomos']">Quienes Somos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/login']">Inicia Sesion</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/registro']">Registrate</a>
            </li>
        </ul>

    </div>
</nav>
<div class="container">
    <router-outlet></router-outlet>
</div>
<app-footer class=" footer">
</app-footer>