nav{
    font-size: 20px;
    height: 70px;
    
}

nav .navbar-brand {
    font-size: 30px;
}
.container-fluid{
    background-image: url(imagenes/cabecera3.jpg);

    height: 400px;
}
.footer{
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;

}

nav i{
    margin-right: 10px;
}

div ul li{
    padding: 20px;
    
}

div ul li a{
    cursor: pointer;
}
#titulo{
    margin-right: 450px;
}