<app-cabecera></app-cabecera>
<img src="../../assets/cabecera.png" class="img-fluid" alt="Responsive image">
<div class="container mt-5">
    <article>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis quam pariatur accusantium aliquid, eaque et
            illo voluptas nobis doloribus iusto sint culpa expedita ducimus incidunt similique quod. In, deleniti
            voluptates?
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores enim, similique assumenda quidem fuga
            officiis accusantium, tempore consequuntur molestiae sapiente dignissimos voluptas mollitia. Ad nostrum rem
            eaque neque quos voluptatem.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Non reprehenderit architecto, dolor quibusdam
            voluptate, earum fugiat dolorem repudiandae laboriosam quidem doloribus tempora eos consequatur. Incidunt
            sed dolore minus neque! Mollitia.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia rerum voluptates deserunt aliquid
            praesentium officia quae ex animi ipsa, cumque enim perferendis possimus unde ea libero blanditiis nesciunt
            suscipit molestias!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad delectus laborum rem impedit assumenda, nihil
            distinctio sed est voluptatibus accusamus obcaecati necessitatibus ea a beatae laboriosam veniam. Dolor,
            exercitationem debitis!
            Lorem fistrum ese que llega no te digo trigo por no llamarte Rodrigor llevame al sircoo se calle ustée.
            Amatomaa jarl va usté muy cargadoo qué dise usteer a gramenawer no te digo trigo por no llamarte Rodrigor.
        </p>
    </article>

    <div class="mt-5" id="buscador">
        <h2 class="text-center mt-3"><i class="fa fa-search"></i> BUSCADOR</h2>
        <form class="mt-3" [formGroup]="buscador" (ngSubmit)="onSubmit()">
            <div _ngcontent class="form-group input-group">
                <div _ngcontent-c5 class="offset-md-1 offset-x1-2 col-md-4 col-x1-3 text-center control-label">
                    <label _ngcontent-c5>Centro</label>
                </div>
                <div _ngcontent-c5 class="col-md-4 col-x1-4 inputGroupContainer">
                    <select _ngcontent-c5="" class="form-control ng-untouched ng-pristine ng-invalid"
                        formControlName="perrera" placeholder="Centro" type="text">
                        <option value=""></option>

                        <option *ngFor="let perrera of arrPerreras" value="{{perrera.id}}">
                            {{perrera.nombre}}
                        </option>

                    </select>
                </div>
            </div>
            <div _ngcontent class="form-group input-group">
                <div _ngcontent-c5 class="offset-md-1 offset-x1-2 col-md-4 col-x1-3 text-center control-label">
                    <label _ngcontent-c5>Raza</label>
                </div>
                <div _ngcontent-c5 class="col-md-4 col-x1-4 inputGroupContainer">
                    <select _ngcontent-c5="" class="form-control ng-untouched ng-pristine ng-invalid"
                        formControlName="raza" placeholder="Raza" type="text">
                        <option value=""></option>
                        <option value="{{perro.raza}}" *ngFor="let perro of arrRaza">{{perro.raza}}</option>
                    </select>
                </div>
            </div>

            <div _ngcontent class="form-group input-group">
                <div _ngcontent-c5 class="offset-md-1 offset-x1-2 col-md-4 col-x1-3 text-center control-label">
                    <label _ngcontent-c5>Color</label>
                </div>
                <div _ngcontent-c5 class="col-md-4 col-x1-4 inputGroupContainer">
                    <select _ngcontent-c5="" class="form-control ng-untouched ng-pristine ng-invalid"
                        formControlName="color" placeholder="Color" type="text">
                        <option value=""></option>
                        <option value="{{perro.color}}" *ngFor="let perro of arrColor">{{perro.color}}</option>
                    </select>

                </div>
            </div>


            <div _ngcontent class="form-group input-group">
                <div _ngcontent-c5 class="offset-md-1 offset-x1-2 col-md-4 col-x1-3 text-center control-label">
                    <label _ngcontent-c5>Tamaño</label>
                </div>
                <div _ngcontent-c5 class="col-md-4 col-x1-4 inputGroupContainer">
                    <select _ngcontent-c5="" class="form-control ng-untouched ng-pristine ng-invalid"
                        formControlName="tamano" placeholder="Tamaño" type="text">
                        <option value=""></option>
                        <option value="{{perro.tamano}}" *ngFor="let perro of arrSize">{{perro.tamano}}</option>
                    </select>
                </div>
            </div>


            <div _ngcontent class="form-group input-group">
                <div _ngcontent-c5 class="offset-md-1 offset-x1-2 col-md-4 col-x1-3 text-center control-label">
                    <label _ngcontent-c5>Sexo</label>
                </div>
                <div _ngcontent-c5 class="col-md-4 col-x1-4 inputGroupContainer">
                    <select _ngcontent-c5="" class="form-control ng-untouched ng-pristine ng-invalid"
                        formControlName="sexo" placeholder="Sexo" type="text">
                        <option value=""></option>
                        <option value="{{perro.sexo}}" *ngFor="let perro of arrSexo">{{perro.sexo}}</option>
                    </select>
                </div>
            </div>
            <div class="container col-6 md-6 mt-4 mb-4">
                <input id="boton" type="submit" value="Buscar" class="btn btn-outline-secondary btn-block">
            </div>
        </form>
    </div>

    <p *ngIf="arrFiltrado?.length == 0" class="font-weight-bold text-center"> No se encuentran resultados </p>
    <div id="card" class="row mt-4 mb-4 shadow-lg p-4 mb-5 bg-white rounded" *ngFor="let perro of arrFiltrado">


        <div id="card2" class="row no-gutters">

            <div class="col-md-4">
                <img id="imagen" [src]="perro.foto" class="img-fluid rounded" alt="Responsive image">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title"><mark class="font-weight-bold text-uppercase">{{perro.nombre}}</mark></h5>
                    <p class="card-text"><mark class="font-weight-bold">RAZA:</mark> {{perro.raza}}</p>
                    <p class="card-text"><mark class="font-weight-bold">SEXO:</mark> {{perro.sexo}}</p>
                    <p class="card-text"><mark class="font-weight-bold">COLOR:</mark> {{perro.color}}</p>
                    <p class="card-text"><mark class="font-weight-bold">TAMAÑO:</mark>{{perro.tamano}} </p>
                    <p class="card-text"><mark class="font-weight-bold">EDAD:</mark> {{perro.edad}} año/s</p>
                    <p class="card-text"><mark class="font-weight-bold">CARACTERÍSTICAS:</mark>{{perro.caracteristicas}}
                        <p class="card-text"><mark class="font-weight-bold">CENTRO:</mark>{{perro.perrera}}
                            <button type="button" class="btn btn-info btn-sm mb-1" data-toggle="modal"
                                data-target="#exampleModalMapa" (click)="getPerreraForFk(perro.fk_perrera)">IR A
                                MAPA</button> </p>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModalMapa" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content" style="background-color: #78F683">
                <button type="button" class="close text-right p-2" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fas fa-times-circle P-2"></i></span>
                </button>
                <div class="text-center">
                    <h5 class="modal-title font-weight-bold" id="exampleModalLongTitle">MAPA</h5>
                </div>
                <div class="modal-body">
                    <div id="perrera" class="bg text center">
                        <p class="card-text"><strong>NOMBRE: </strong> {{arrayPerrera.nombre}} </p>
                        <p class="card-text"><strong>DIRECCIÓN: </strong> {{arrayPerrera.direccion}}</p>
                        <p class="card-text"> <strong>EMAIL:</strong> {{arrayPerrera.email}}</p>
                        <p class="card-text"> <strong>TELEFONO:</strong> {{arrayPerrera.telefono}}</p>
                    </div>
                    <div class="mapa" id='mapPerrera' #Gmap></div>
                </div>
            </div>
        </div>
    </div>