/* .imp{
    width: 3000px;
    height:1000px;
    background-image: url('../../assets/cabecera.png');
    background-position: center;
} */

div #card{
    border: 3px solid lightgreen;
    /* margin-top: 50px;
    margin-left: 200px; */
}

#card2{
    margin-top: 10px;
}

#imagen{
padding: 15px;
margin-top: 20px;
}

.mapa{
    height: 300px;
    max-width: 100% ;
}

.modal-body #perrera{
    background-color: white;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
}