.container{
    margin-top: 20px;

    }

.container h2{
    margin-bottom: 30px;
}

.container #boton{
max-width: 550px;
margin-left: 270px;
}

#tarjeta-perro{
    margin-top: 20px;
    margin-bottom: 30px;
    
}
<<<<<<< HEAD
#boton{
    height:50px;

}
label{
    font-weight: bold;
}
=======

>>>>>>> b24c0e300a723e339ea98ac19fcdaa03e89ef73a
