<h2>Formulario de Registro</h2>

<div class="container">
    <form [formGroup]="registro" (ngSubmit)="onSubmit()" novalidate>
        <div class="form-row">
            <div class="col-md-4 mb-3">
                <label>Nombre</label>
                <input type="text" class="form-control" formControlName="nombre">
            </div>
            <p class="error" *ngIf="registro.controls.nombre.errors?.required && registro.controls.nombre.touched">
                El campo nombre es requerido
            </p>
            <!-- {{ registro.controls['nombre'].touched}} -->
            <div class="col-md-4 mb-3">
                <label>Apellidos</label>
                <input type="text" class="form-control" formControlName="apellidos">
            </div>
            <div class="col-md-4 mb-3">
                <label>Email</label>
                <div class="input-group">
                    <input type="text" class="form-control" formControlName="email">
                </div>
                <p class="error" *ngIf="registro.controls.email.errors?.required && registro.controls.email.touched">
                    El campo email es requerido
                </p>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-5 mb-3">
                <label>Contraseña</label>
                <input type="password" class="form-control" formControlName="password">
            </div>
            <p class="error" *ngIf="registro.controls.password.errors?.required && registro.controls.password.touched">
                El campo constaseña es requerido
            </p>
            <div class="col-md-5 mb-3">
                <label>Repite Contraseña</label>
                <input type="password" class="form-control" formControlName="repitpassword">
            </div>
            <p class="error"
                *ngIf="registro.controls.repitpassword.errors?.required && registro.controls.repitpassword.touched">
                El campo repite contraseña es requerido
            </p>
            <div class="col-md-2 mb-3">
                <label>Código Postal</label>
                <input type="number" class="form-control" formControlName="codigopostal">
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-8 mb-3">
                <label>Dirección</label>
                <input type="text" class="form-control" formControlName="direccion">
            </div>
            <div class="col-md-4 mb-3">
                <label>Teléfono</label>
                <input type="number" class="form-control" formControlName="telefono">
            </div>
            <p class="error" *ngIf="registro.controls.telefono.errors?.required && registro.controls.telefono.touched">
                El campo teléfono es requerido
            </p>
        </div>
        <div class="form-row">
            <div class="col-md-8 mb-3">
                <label>Localidad</label>
                <input type="text" class="form-control" formControlName="localidad">
            </div>
            <div class="col-md-4 mb-3">
                <label>Provincia</label>
                <input type="text" class="form-control" formControlName="provincia">
            </div>
            <div class="col-md-4 mb-3">
                <label>Fecha de Nacimiento</label>
                <input type="text" class="form-control" formControlName="fechadenacimiento">
            </div>
            <div class="col-md-8 mb-3">
                <label>Fecha de Nacimiento</label>
                <input type="text" class="form-control" formControlName="fechadenacimiento">
            </div>
        </div>
        <div>
            <input type="checkbox" name="acepterm" id="">
            <a class="p-3" href=""> He leído y acepto términos y condiciones de uso</a>
            <a></a>
        </div>

        <div id="btn">
            <input type="submit" value="Enviar" class="btn btn-success btn-block mt-2" [disabled]="registro.invalid">
        </div>
    </form>
</div>